@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}
:root {
    --cor01: #2acac757;
    --cor02: #09f4f059;
    --cor03: #3ca09e;
    --cor04: #3f7574;
    --cor05: #295a58;
    --cor06: #249720;

    --font-padrao: arial, verdana, helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', 'cursive';
    --font-android: 'Android', 'cursive';

}
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--cor02);
    font-family: var(--font-padrao);
}
a.externo::after{
    content: '\00A0\1F517';
}
header {
   background-image: linear-gradient(to TOP, var(--cor03),var(--cor04));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    

}
header > p {
    font-family: var(--font-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 0px 0px 10px black;

}
header > h1 {
    color: white;
    font-family: var(--font-destaque);
    font-size: 3em;
    margin-bottom: 30px;
    text-shadow: 0px 2px 10px black;
}
nav {
    background-color: var(--cor03);
    padding: 10px;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.479);
    font-weight: bold;

}
nav > a{
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: .4s;
}
nav > a:hover{
    background-color: var(--cor06);
    color: var(--cor05);
    border-radius: 7px;
}
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 15px;

}
main h1 {
    color: var(--cor05);
    font-family: var(--font-android);
    font-size: 2em;
    

}
main h2 {
    font-family: var(--font-android);
    background-image: linear-gradient(to right, var(--cor01), transparent);
    padding: 5px 10px;
}   
main img {
    width: 100%;
}
main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}
main  p{
    text-indent: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 15px 0px;
    
}
main strong{
    color: var(--cor06);    
    font-weight: bold;
    padding: 2px 5px;
}
main a {
    text-decoration: none;
    background-color: lightgreen;
    color: var(--cor05);
    padding: 2px 6px;
    font-weight: bold;
}
main a:hover{
    text-decoration: underline;
    background-color: green;
    color: white;
}
div.video{
    position: relative;
    background-color: var(--cor03);
    margin-bottom: 30px;
    
}
div.video > iframe{
    position: relative;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 600px;
    padding-bottom: 20px;
    padding-top: 2%;
    
}
article > h1{
    padding-bottom: 10px;
}
article > h2{
    color: var(--cor05);
    background-color: var(--cor01);
    
}
article > aside{
    background-color: var(--cor02);
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.534);
    
}
article > aside > h3{
    background-color: var(--cor05);
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.4em;
    
}
article > aside > p{
    text-indent: 30px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
article > aside > ul{
    padding-left: 30px;

}
 ul{
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
   
    
 }
footer {
    background-color: var(--cor05);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: .8em;          
}
footer a{
    
    color: white;
    font-size: bold;
}
footer a:hover{
    background-color: var(--cor06);
    color: white;
   
}